# Python Einführung
## *Unterüberschrift*
- Punkt 1
- Punkt 2

1.1 Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

1.2 Kommentare

In [2]:
# Kommentar
print("Hello world!")

Hello world!

1.3 Einfache Datentypen

In [3]:
# Variable und Wertezuweisung
name = "Lovelace"
print(name)

Lovelace

In [4]:
# String - Zeichenkette
first_name = "Ada"
first_name

'Ada'

In [5]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [6]:
# Float - Gleitkommazahl
size = 1.12312

In [7]:
knows_math = True
print(knows_math)

True

In [8]:
knows_math = False
print(knows_math)

False

In [9]:
type(name)

str

In [10]:
type(age)

int

In [11]:
type(size)

float

In [12]:
age_string = str(age)
type(age_string)

str

1.4 Operatoren

In [13]:
# Addition von Integers
5 + 5

10

In [14]:
# Multiplizieren
age * 100

7300

In [15]:
name * 7

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

1.5 Funktionen und Methoden

In [16]:
print(name)
len(name)

Lovelace

8

In [17]:
name.upper()

'LOVELACE'

In [18]:
print(name)

Lovelace

In [19]:
name_upper_case = name.upper()
print(name_upper_case)

LOVELACE

In [20]:
name.count("a")

1

In [21]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [22]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [23]:
names[2]

'Curie'

In [24]:
names[0]

'Lovelace'

In [25]:
names[-1]

'Hawking'

In [26]:
name[-1]

'e'

In [27]:
print(names)
# Anfang inklusive, Ende exklusive
names[0:3]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

['Lovelace', 'Darwin', 'Curie']

In [28]:
# slicing
names[:2]

['Lovelace', 'Darwin']

In [29]:
names[2:]

['Curie', 'Hawking']

In [30]:
# Dictionaries (Schlüssel-Wert-Paare)
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Noether": 1882,
                           "Hawking": 1942}

In [31]:
authors_and_birth_years["Darwin"]

1809

In [32]:
type(authors_and_birth_years)

dict

2 for-Schleifen